apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: sfox-rosetta-cardano
    stack: trading
  name: sfox-rosetta-cardano
spec:
  progressDeadlineSeconds: 600
  replicas: 1
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      k8s-app: sfox-rosetta-cardano
  strategy:
    type: Recreate
  template:
    metadata:
      annotations:
        kubernetes.io/change-cause: "$ANNOTATION"
        prometheus.io/scrape: 'true'
        prometheus.io/port: '9669'
      labels:
        k8s-app: wallet-erc20
        stack: trading
      name: wallet-erc20
    spec:
      containers:
      - image: cardano-rosetta:1.0.0
        name: sfox-rosetta-cardano
        ports:
        - containerPort: 8080
        resources:
          requests:
            cpu: 100m
            memory: 100Mi
          limits:
            cpu: 200m
            memory: 1000Mi
        securityContext:
          privileged: false
        terminationMessagePath: /dev/termination-log
        terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30

